In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df=pd.read_csv('/content/Vellore 2022-03-22 to 2022-04-22.csv')

In [ ]:
df.head()

,name,datetime,temp,feelslike,dew,humidity,precip,precipprob,preciptype,snow,...,sealevelpressure,cloudcover,visibility,solarradiation,solarenergy,uvindex,severerisk,conditions,icon,stations
0,Vellore,2022-03-22T00:00:00,27.2,28.8,20.5,66.82,0.0,0,NaN,0,...,1009.0,100.0,24.1,0,NaN,0,10,Overcast,cloudy,remote
1,Vellore,2022-03-22T01:00:00,27.0,28.6,20.7,68.45,0.0,0,NaN,0,...,1008.0,100.0,24.1,0,NaN,0,10,Overcast,cloudy,remote
2,Vellore,2022-03-22T02:00:00,26.9,28.6,20.8,69.28,0.0,0,NaN,0,...,1007.0,80.9,24.1,0,NaN,0,10,Partially cloudy,partly-cloudy-night,remote
3,Vellore,2022-03-22T03:00:00,26.3,26.3,20.9,72.22,0.0,0,NaN,0,...,1007.0,90.9,24.1,0,NaN,0,10,Overcast,cloudy,remote
4,Vellore,2022-03-22T04:00:00,26.3,26.3,20.9,72.22,0.3,100,rain,0,...,1007.0,98.6,24.1,0,NaN,0,10,"Rain, Overcast",rain,remote

In [ ]:
df.columns

Index(['name', 'datetime', 'temp', 'feelslike', 'dew', 'humidity', 'precip',
       'precipprob', 'preciptype', 'snow', 'snowdepth', 'windgust',
       'windspeed', 'winddir', 'sealevelpressure', 'cloudcover', 'visibility',
       'solarradiation', 'solarenergy', 'uvindex', 'severerisk', 'conditions',
       'icon', 'stations'],
      dtype='object')

In [ ]:
X=df[['temp','humidity']]

In [ ]:
X.head()

   temp  humidity
0  27.2     66.82
1  27.0     68.45
2  26.9     69.28
3  26.3     72.22
4  26.3     72.22

In [ ]:
Y=df[['precipprob']]

In [ ]:
Y.head()

   precipprob
0           0
1           0
2           0
3           0
4         100

In [ ]:
lis=list(Y['precipprob'])

In [ ]:
c=0
for i in range(0,len(lis)):
  if(lis[i]==100):
    lis[i]=1
    c=c+1

In [ ]:
Y['precipprob']=lis

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
#Using 75% for training and 25% for testing
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.25,stratify=Y)

In [ ]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()
model.fit(X_train, Y_train)
predictions = model.predict(X_test)

In [ ]:
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
print("Confusion Matrix Decision Tree\n")
print(confusion_matrix(Y_test, predictions))

print("\nClassification Report Decision Tree\n")
print(classification_report(Y_test, predictions))

Confusion Matrix Decision Tree

[[180   5]
 [  6   1]]

Classification Report Decision Tree

              precision    recall  f1-score   support

           0       0.97      0.97      0.97       185
           1       0.17      0.14      0.15         7

    accuracy                           0.94       192
   macro avg       0.57      0.56      0.56       192
weighted avg       0.94      0.94      0.94       192